.menu {
    background-color: #060029;
    position: fixed;
    width: 100%;
    font-family: 'Open Sans';
    font-size: 20px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 7;
    z-index: 10;
}

.menu-centro {

    display: flex;
    margin-left: 50%;
}

.menu-resp {
    display: none;
}

/*.menu:hover {
    background-color: black;
}
*/
.item-menu {

    padding-left: 10px;
    padding: 20px 15px 0 15px;
}

.item-menu a {
    color: white;
    text-decoration: none;
}

.item-menu a:hover {
    color: rgb(211, 85, 12);
}



.hr-menu:hover {
    color: green;
}

@media screen and (max-width: 1200px) {
    .menu-centro {

        display: flex;
        float: right;
        margin-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        
        border: 0;
        margin: 0;
        width: 100%;

    }
 

    .menu-resp {
       
        display: flex;
        float: right;
        
        padding: 15px;
       padding-right: 35px;
        
    }
 

    .menu-centro {
        display: none;

        margin-top: 50px;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-right: 30%;
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: bold;

    }





}