.div-viewport {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.central {
    display: flex;
    background-color: coral;
    /*COLOCAR A COR NO BODY*/
    /*background-color:#060029;*/
    align-items: center;
    justify-content: center;
}

.conteudo {
    /*background-color: blueviolet;*/
    background-color: #060029;


}

.home-dados {

    color: white;
    text-align: center;
}

.titulo-identificador {
    color: #F6752C;
    text-decoration: underline;
    text-align: center;
    font-size: 25pt;

}

.txt1 {
    color: white;
}

.link-semFormatacao {
    text-decoration: none;
    color: white;
}


@media screen and (min-width: 769px) {

    /*PC*/
    body {
        background-color: blue;
        /*background-color:#060029;*/

    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
    }

    .home-dados {
        float: left;
        padding-top: 50vh;
        padding-bottom: 40%;
        /*background-color: rgb(193, 193, 207);*/

        grid-column-start: 1;
        grid-row-start: 1;
    }

    .div-imgeu {
        float: left;
        /*background-color: yellow;*/
        padding-top: 20vh;
        padding-bottom: 30%;
        padding-left: 20px;
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .imgeu {
        width: 100%;
        border-radius: 300px;
    }

    .conteudo {
        width: 1200px;
    }

    .sobre {
        grid-column-start: 2;
        grid-row-start: 1;
        grid-column-end: 5;
        font-size: 18pt;
    }

    .contatos {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 100px;
    }

    .logo-contatos {
        height: 50px;
    }

    .formacao {
        grid-column-start: 4;
        grid-column-end: 6;
        grid-row-start: 3;
        padding-right: 40px;
        font-size: 18pt;
    }








    .col1 {
        background-color: chartreuse;
        float: left;
        width: 100px;

    }

    .col2 {
        background-color: red;
        float: left;
        width: 100px;
    }

    .col3 {
        background-color: chocolate;
        float: left;
        width: 100px;
    }

    .col4 {
        background-color: purple;
        float: left;
        width: 100px;
    }

    .col5 {
        background-color: chartreuse;
        float: left;
        width: 100px;
    }

    .col6 {
        background-color: red;
        float: left;
        width: 100px;
    }

    .col7 {
        background-color: chocolate;
        float: left;
        width: 100px;
    }

    .col8 {
        background-color: purple;
        float: left;
        width: 100px;
    }

    .col9 {
        background-color: chartreuse;
        float: left;
        width: 100px;
    }

    .col10 {
        background-color: red;
        float: left;
        width: 100px;
    }

    .col11 {
        background-color: chocolate;
        float: left;
        width: 100px;
    }

    .col12 {
        background-color: purple;
        float: left;
        width: 100px;
    }

}

@media screen and (min-width: 481px) and (max-width: 768px) {

    /*TABLET*/
    body {
        background-color: green;
    }

    .conteudo {

        width: 800px;
    }

    .home-dados {
        padding-top: 10%;
        padding-bottom: 10%;
        text-align: center;
    }

    .div-imgeu {
        padding-left: 30%;
        padding-top: 10%;
    }

    .imgeu {
        width: 50%;
        border-radius: 200px;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
    }

    .sobre {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 6;
        font-size: 18pt;
        padding: 0 5% 0 5%;
    }

    .contatos {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 100px;
        padding-bottom: 30%;
        padding-top: 30%;
    }

    .logo-contatos {
        height: 50px;
    }

    .formacao {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        padding: 0 5% 0 5%;
        font-size: 18pt;
    }





    .col1 {
        background-color: chartreuse;
        float: left;
        width: 100px;

    }

    .col2 {
        background-color: red;
        float: left;
        width: 100px;
    }

    .col3 {
        background-color: chocolate;
        float: left;
        width: 100px;
    }

    .col4 {
        background-color: purple;
        float: left;
        width: 100px;
    }

    .col5 {
        background-color: chartreuse;
        float: left;
        width: 100px;
    }

    .col6 {
        background-color: red;
        float: left;
        width: 100px;
    }

    .col7 {
        background-color: chocolate;
        float: left;
        width: 100px;
    }

    .col8 {
        background-color: purple;
        float: left;
        width: 100px;
    }

    .col9 {
        display: none;
    }

    .col10 {
        display: none;
    }

    .col11 {
        display: none;
    }

    .col12 {
        display: none;
    }

}

@media screen and (max-width: 480px) {

    /*SMARTPHONE*/
    body {
        background-color: yellow;
    }

    .conteudo {
        width: 800px;
    }

    .home-dados {
        padding-top: 10%;
        padding-bottom: 10%;
        text-align: center;
    }

    .div-imgeu {
        padding-left: 30%;
        padding-top: 10%;
    }

    .imgeu {
        width: 50%;
        border-radius: 200px;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
    }

    .sobre {
        grid-column-start: 1;
        grid-row-start: 1;
        grid-column-end: 6;
        font-size: 16pt;
        padding: 0 5% 0 5%;
    }

    .contatos {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        padding-left: 50px;
        padding-bottom: 30%;
        padding-top: 30%;
    }

    .logo-contatos {
        height: 50px;
    }

    .formacao {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 2;
        padding: 0 5% 0 5%;
        font-size: 16pt;
    }










    .col1 {
        background-color: chartreuse;
        float: left;
        width: 100px;

    }

    .col2 {
        background-color: red;
        float: left;
        width: 100px;
    }

    .col3 {
        background-color: chocolate;
        float: left;
        width: 100px;
    }

    .col4 {
        background-color: purple;
        float: left;
        width: 100px;
    }

    .col5 {
        display: none;
    }

    .col6 {
        display: none;
    }

    .col7 {
        display: none;
    }

    .col8 {
        display: none;
    }

    .col9 {
        display: none;
    }

    .col10 {
        display: none;
    }

    .col11 {
        display: none;
    }

    .col12 {
        display: none;
    }


}