@media screen and (max-width: 480px) {

    /*SMARTPHONE*/
    

    .div-viewport {
        background-color: #060029;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 800px;
    }

    .home-dados {
        padding-top: 10%;
        padding-bottom: 10%;

        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 5;
    }

    .div-imgeu {


        padding-top: 10%;
        padding-bottom: 10%;
        grid-column-start: 1;
        grid-row-start: 2;
        grid-column-end: 5;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .imgeu {
        width: 300px;
        border-radius: 300px;
    }

    /*SOBRE*/
    .sobre {
        grid-row-start: 4;
        grid-column-start: 1;
        grid-column-end: 5;
        font-size: 18pt;
        padding-left: 5%;
        padding-right: 5%;
    }

    .contatos {
        grid-row-start: 6;
        grid-column-start: 1;
        grid-column-end: 5;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 30%;

    }

    .logo-contatos {
        height: 50px;

    }

    .div-logo-contatos {

        padding-left: 30%;
    }

    .formacao {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 5;

        padding-left: 5%;
        padding-right: 5%;
        font-size: 18pt;
    }

    /*SISTEMAS DESENVOLVIDOS*/
    .div-viewport-projetos {
        grid-row-start: 6;
        grid-column-start: 1;
        grid-column-end: 4;

    }

    .sistema1 {
        grid-row-start: 7;
        grid-column-start: 1;
        grid-column-end: 5;

        background-color: white;
        margin-left: 20px;
        margin-right: 20px;
        border: 2px solid #060029;
        border-radius: 15px;
        padding: 0 5% 5% 5%;
        color: #060029;
        margin-bottom: 40px;
    }

    .sistema2 {
        grid-row-start: 8;
        grid-column-start: 1;
        grid-column-end: 5;

        background-color: #060029;
        margin-left: 20px;
        margin-right: 20px;
        border: 2px solid white;
        border-radius: 15px;
        padding: 0 5% 5% 5%;
        color: white;
        margin-bottom: 40px;
    }

    .sistema3 {
        grid-row-start: 9;
        grid-column-start: 1;
        grid-column-end: 5;
        background-color: white;
        margin-left: 20px;
        margin-right: 20px;
        border: 2px solid #060029;
        border-radius: 15px;
        padding: 0 5% 5% 5%;
        color: #060029;
        margin-bottom: 40px;
    }

    .alerta-span {
        background-color: red;
        text-transform: uppercase;
        font-size: 10pt;
        grid-row-start: 10;
        grid-column-start: 1;
        grid-column-end: 5;
        margin-top: 20px;
        color: white;
    }

    .logo-tecnologia {
        height: 50px;
        padding: 2px;
    }

    .div-logo-tecnologia {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 5%;
    }

    /*SISTEMAS PAGINA*/

    .div-viewport-sistema {
        grid-row-start: 11;
        grid-column-start: 1;
        grid-column-end: 5;

    }

    .subSistema1 {
        grid-row-start: 12;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: #6c44ff;
        padding: 0 0 10px 15px;
        margin: 10px;
        border-radius: 15px;
    }

    .subSistema2 {
        grid-row-start: 12;
        grid-column-start: 3;
        grid-column-end: 5;
        background-color: #ff4343;
        padding: 0 0 10px 15px;
        margin: 10px;
        border-radius: 15px;
    }

    .subSistema3 {
        grid-row-start: 13;
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: #12b648;
        padding: 0 0 10px 15px;
        margin: 10px;
        border-radius: 15px;
    }

    .subSistema4 {
        grid-row-start: 13;
        grid-column-start: 3;
        grid-column-end: 5;
        background-color: #414141;
        padding: 0 0 10px 15px;
        margin: 10px;
        border-radius: 15px;
    }

    /*TECNOLOGIAS*/
    .div-viewport-tecnologia {
        grid-row-start: 14;
        grid-column-start: 1;
        grid-column-end: 5;

    }

    .tecnologias-div {
        background-color: white;
        grid-row-start: 15;
        grid-column-start: 1;
        grid-column-end: 5;

        padding: 15px;
        margin: 10px;
        border-radius: 15px;


    }

    .logo-geral-tecnologia {
        height: 100px;
        padding: 2px;
        margin: 10px;

    }
}